<div class="header-container">
  <h1 class="tittle">Simulador de consumo</h1>  
</div>
<main>
  <section class="rooms-container">
    <div class="add-rooms">
      <h1 class="add-tittle">Adicione um cômodo ao seu ambiente</h1>
        <mat-icon (click)="openSelectedRooms()" fontIcon="add_circle_outlined" ></mat-icon>
    </div>
    <div class="room-name">
      <h1>{{ roomTittle }}</h1>
    </div>
    <div class="rooms">
        <div *ngFor="let item of roomsSelected" class="cards">
            <div class="div-top">
              <p class="room-tittle">{{ item.nome }}</p>
              <img [src]="item.imagem" [alt]="item.imagem" class="room-img">
            </div>
            <div class="div-bot">
              <p>Adicione um novo dispositivo</p>
                <mat-icon fontIcon="add_circle_outlined" (click)="openSelectedDevices(item)"></mat-icon>
            </div>
            <mat-icon class="close" (click)="removeRoom(item)">close</mat-icon>
            <div class="devices">
              <div *ngFor="let device of item.devices" class="device">
                <button (click)="showDevice(device)" class="btn">
                  <p class="devices-tittle">{{ device.nome }}</p>
                  <img [src]="device.imagem" [alt]="device.imagem" class="device-img">
                </button>
                </div>
            </div>
        </div>
    </div>
  </section>
</main>